*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: #F6F6F6;
}
h1 {
    padding: 5px;    
}
.textoSub {
    margin-bottom: 5px;
    padding: 5px;
}
input {
    width: 40%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
button {
    height: 30px;
    border: solid 2px #000000;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    letter-spacing: .5px;
    font-weight: bold;
    padding: 5px 10px;

    transition: .3s all;
}
button:hover {
    background-color: #F6F6F6;
    color: #000000;
    cursor: pointer;
}
.textoJugar {
    padding: 10px;
}
h4 {
    margin-top: 3px;
    margin-bottom: 10px;
}
